<div class="side-nav">
  <div class="logo">
    <img src="assets/reviewer-logo.png" alt="Reviewer Logo">
  </div>
  <div class="user-info">
    <img src="assets/user-avatar.png" alt="User Avatar" class="avatar">
    <h4>Gisell Faith Billones</h4>
  </div>
  <nav>
    <ul>
      <li><a routerLink="/dashboard"><i class="icon-dashboard"></i> Dashboards</a></li>
      <li><a routerLink="/add-question"><i class="icon-question"></i> Add Question</a></li>
      <li><a routerLink="/quiz"><i class="icon-quiz"></i> Quiz</a></li>
      <li><a routerLink="/paths"><i class="icon-paths"></i> Paths</a></li>
      <li><a routerLink="/instructor"><i class="icon-instructor"></i> Instructor</a></li>
      <li><a routerLink="/miscellaneous"><i class="icon-misc"></i> Miscellaneous</a></li>
    </ul>
  </nav>
</div>
