<div class="dashboard">
  <app-side-nav></app-side-nav>
  <div class="dashboard-content">
    <div class="row">
      <div class="col-md-6">
        <app-continue-learning></app-continue-learning>
      </div>
      <div class="col-md-6">
        <app-recommended-for-you></app-recommended-for-you>
      </div>
    </div>
    <app-achievements></app-achievements>
    <div class="row">
      <div class="col-md-4">
        <app-related-reviewer></app-related-reviewer>
      </div>
      <div class="col-md-8">
        <app-your-time></app-your-time>
      </div>
    </div>
    <app-popular-reviewer></app-popular-reviewer>
  </div>
</div>
