/* styles.css */
body {
  font-family: 'Poppins', sans-serif;
}

/* Example of using Poppins for specific elements */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
}
/* You can add global styles to this file, and also import other style files */

.app-container {
  display: flex;
}

.content {
  flex: 1;
  padding: 20px;
}
